.more {
  background-color: #065fad;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .more__content {
    max-width: 1140px;
    width: 100%;
    display: flex;

    .more__contact {
      width: 25%;
      padding: 20px 20px 20px 0;

      .more__heading {
        font-size: 1.6rem;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 12px;
      }

      .more__detail {
        line-height: 26px;
        color: #fff;
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 1201px) {
  .more {
    .more__content {
      max-width: 86%;
    }
  }
}

@media (max-width: 1081px) {
  .more {
    .more__content {
      .more__contact {
        width: 35%;
      }
    }
  }
}

@media (max-width: 787px) {
  .more {
    .more__content {
      .more__contact {
        width: 45%;
      }
    }
  }
}

@media (max-width: 641px) {
  .more {
    .more__content {
      .more__contact {
        width: 50%;
      }
    }
  }
}

@media (max-width: 481px) {
  .more {
    .more__content {
      flex-direction: column;
      .more__contact {
        width: 100%;
      }
    }
  }
}
